{% load static %}
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <link rel="stylesheet" href="{% static 'css/general.css' %}">
</head>
<html>
    <head>
        <title>Veterinaria Django</title>
    </head>
    <body>
            <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">Veterinaria Django</a>
                </div>
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Inicio</a></li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Información dueños
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'lista_personas' %}">Listado dueños</a></li>
                      <li><a href="{% url 'persona_new' %}">Añadir dueños</a></li>
                    </ul>
                  </li>

                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Información animales
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'lista_animales' %}">Listado animales</a></li>
                      <li><a href="{% url 'animal_new' %}">Añadir animal</a></li>
                    </ul>
                  </li>

                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Consultas
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'lista_consultas' %}">Historial de consultas</a></li>
                        <li><a href="{% url 'consulta_new' %}">Nueva consulta</a></li>
                      </ul>
                    </li>
                  
                </ul>
              </div>
            </nav>
        
        <br><br><br>
        <div class="container">
          <div class="row justify-content-center">
            <div>
              {%  block content %}
              {%  endblock %}
            </div>

          </div>
        </div>


    </body>
</html>
